<div id="pageWrapper">
	<div id="calendarWrapper">
		<div id="previousWeek"></div>
		<div id="calendar">
			
		</div>
		<div id="nextWeek"></div>
	</div>
	<form id="submissionForm" @submit="checkForm" action="/studio/api" method="post">
	<p v-if="errors.length">
		<b-alert variant="danger" dismissible v-model="showDismissibleAlert">Please fix the following:
		<ul>
			<li v-for="error in errors">{{ error }}</li>
		</ul>
		</b-alert>
	</p>
	<p>
		<label for="name">Your Name</label>
		<input id="name" v-model="name" type="text" name="name">
	</p>
	
	<p>
		<label for="fromtime">From when</label>
		<select id="fromtime" v-model="fromtime" name="fromtime">
			<option disabled value=""></option>
		</select>
		
		<label for="totime">'Till when</label>
		<select id="totime" v-model="totime" name="totime">
			<option disabled value=""></option>
		</select>
	</p>

	<p>
		<input type="submit" value="Submit">
	</p>
	</form>
</div>
