<div id="pageWrapper">
	<b-container id="calendarWrapper" fluid>
						<b-row>
							<b-col class="Sunday">
								<b-card title="Sunday">
									<b-card-text>Sunday</b-card-text>
								</b-card>
							</b-col>
							<b-col class="Monday">
								Monday
                                                                <b-row align-v="center">
                                                                        <b-col>{{ monday1 }}</b-col>
                                                                </b-row>
							</b-col>
                                                        <b-col class="Tuesday">
								Tuesday
                                                                <b-row align-v="center">
                                                                        <b-col>{{ tuesday1 }}</b-col>
                                                                </b-row>
                                                        </b-col>
                                                        <b-col class="Wednesday">
								Wednesday
                                                                <b-row align-v="center">
                                                                        <b-col>{{ wednesday1 }}</b-col>
                                                                </b-row>
                                                        </b-col>
                                                        <b-col class="Thursday">
								Thursday
                                                                <b-row align-v="center">
                                                                        <b-col>{{ thursday1 }}</b-col>
                                                                </b-row>
                                                        </b-col>
                                                        <b-col class="Friday">
								Friday
                                                                <b-row align-v="center">
                                                                        <b-col>{{ friday1 }}</b-col>
                                                                </b-row>
                                                        </b-col>
                                                        <b-col class="Saturday">
								Saturday
                                                                <b-row align-v="center">
                                                                        <b-col>{{ saturday1 }}</b-col>
                                                                </b-row>
                                                        </b-col>
						</b-row>
                                                <b-row>
                                                        <b-col class="Sunday">
                                                                Sunday
                                                        </b-col>
                                                        <b-col class="Monday">
                                                                Monday
                                                        </b-col>
                                                        <b-col class="Tuesday">
                                                                Tuesday
                                                        </b-col>
                                                        <b-col class="Wednesday">
                                                                Wednesday
                                                        </b-col>
                                                        <b-col class="Thursday">
                                                                Thursday
                                                        </b-col>
                                                        <b-col class="Friday">
                                                                Friday
                                                        </b-col>
                                                        <b-col class="Saturday">
                                                                Saturday
                                                        </b-col>
                                                </b-row>
                                                <b-row>
                                                        <b-col class="Sunday">
                                                                Sunday
                                                        </b-col>
                                                        <b-col class="Monday">
                                                                Monday
                                                        </b-col>
                                                        <b-col class="Tuesday">
                                                                Tuesday
                                                        </b-col>
                                                        <b-col class="Wednesday">
                                                                Wednesday
                                                        </b-col>
                                                        <b-col class="Thursday">
                                                                Thursday
                                                        </b-col>
                                                        <b-col class="Friday">
                                                                Friday
                                                        </b-col>
                                                        <b-col class="Saturday">
                                                                Saturday
                                                        </b-col>
                                                </b-row>
						<b-row>
							<b-col class="Sunday">
								Sunday
							</b-col>
							<b-col class="Monday">
								Monday
							</b-col>
                                                        <b-col class="Tuesday">
								Tuesday
                                                        </b-col>
                                                        <b-col class="Wednesday">
								Wednesday
                                                        </b-col>
                                                        <b-col class="Thursday">
								Thursday
                                                        </b-col>
                                                        <b-col class="Friday">
								Friday
                                                        </b-col>
                                                        <b-col class="Saturday">
								Saturday
                                                        </b-col>
						</b-row>
                                                <b-row>
                                                        <b-col class="Sunday">
                                                                Sunday
                                                        </b-col>
                                                        <b-col class="Monday">
                                                                Monday
                                                        </b-col>
                                                        <b-col class="Tuesday">
                                                                Tuesday
                                                        </b-col>
                                                        <b-col class="Wednesday">
                                                                Wednesday
                                                        </b-col>
                                                        <b-col class="Thursday">
                                                                Thursday
                                                        </b-col>
                                                        <b-col class="Friday">
                                                                Friday
                                                        </b-col>
                                                        <b-col class="Saturday">
                                                                Saturday
                                                        </b-col>
                                                </b-row>
                                                <b-row>
                                                        <b-col class="Sunday">
                                                                Sunday
                                                        </b-col>
                                                        <b-col class="Monday">
                                                                Monday
                                                        </b-col>
                                                        <b-col class="Tuesday">
                                                                Tuesday
                                                        </b-col>
                                                        <b-col class="Wednesday">
                                                                Wednesday
                                                        </b-col>
                                                        <b-col class="Thursday">
                                                                Thursday
                                                        </b-col>
                                                        <b-col class="Friday">
                                                                Friday
                                                        </b-col>
                                                        <b-col class="Saturday">
                                                                Saturday
                                                        </b-col>
                                                </b-row>
	</b-container>
	<form id="submissionForm" @submit="checkForm" action="/studio/api" method="post">
	<p v-if="errors.length">
		<b-alert variant="danger" dismissible v-model="showDismissibleAlert">Please fix the following:
		<ul>
			<li v-for="error in errors">{{ error }}</li>
		</ul>
		</b-alert>
	</p>
	<p>
		<label for="name">Your Name</label>
		<input id="name" v-model="name" type="text" name="name">
	</p>
	
	<p>
		<label for="fromtime">From when</label>
		<select id="fromtime" v-model="fromtime" name="fromtime">
			<option disabled value=""></option>
		</select>
		
		<label for="totime">'Till when</label>
		<select id="totime" v-model="totime" name="totime">
			<option disabled value=""></option>
		</select>
	</p>

	<p>
		<input type="submit" value="Submit">
	</p>
	</form>
</div>
